.button-menu {

    border : none;
    color : red;
    background : transparent;
    text-align: center;
    text-transform : none;
    display: inline-block;
    font-size: 50px;
    margin: 4px;
    cursor : pointer;
}

.arimo {

  font-family: "Arimo", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.jetbrains-mono {

  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.terminal {

    width: 800px;
    border: solid 2px;
    border-radius: 6px;
}