body {

  background-color: #08080f;
  color: white;
}

.arimo {
  
  font-family: "Arimo", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.jetbrains-mono {
  
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #d0d0d0;
}

.button-menu {

  border : none;
  color : #ff0000;
  background : transparent;
  text-align: center;
  text-transform : none;
  display: inline-block;
  font-size: 50px;
  margin: 4px;
  cursor : pointer;
}

.terminal {

  width: 800px;
  height: 450px;
  background-color: #101828;
  font-size: 16px;
  overflow: auto;
  border: solid 2px;
  border-radius: 6px;
  border-color: #364153;
}

#terminal-header {

  border-bottom: solid 2px;
  border-color: #364153;
  padding: 7px;
  padding-left: 30px;
}

#terminal-text {
  
  max-height : 420px;
  overflow: auto;
  padding: 10px;
  
}

#terminal-input {

  background-color: #353b4b;
  font-size: 16px;
  border: none;
  outline: none;
}

.purple {

  color: purple;
}

.magenta {

  color: magenta;
}

.gray {

  color: gray;
}